@media (max-width:700px){
    .wrapper{
        padding: 15px;
        display: flex;
        justify-content: end;
        align-items: baseline;
        flex-direction: column;
    }
    input{
        margin: 10px 0;
        padding: 10px 0;
    }
}