@media screen and (max-width: 991px){
    body{
        margin: 0 auto;
        width: 950px;
    }
    .wrapper{
        width: 950px;
    }
    .photo-fem{
        img{
            width: 950px;
            height: 650px;
        }
        width: 950px;
    }
    .social{
        width: 460px;
    }
    .logo{
        font-size: 50px;
        padding-left: 0;
    }
    .slider-menu{
        width: 950px;
    }
    .bonus-collection{
        width: 950px;
    }
    .free-shipping{
        h3{
            font-size: 20px;
        }
        svg{
            width: 30px;
        }
    }
    .return{
        h3{
            font-size: 20px;
        }
        svg{
            width: 30px;
        }
    }
    .support{
        h3{
            font-size: 20px;
        }
        svg{
            width: 30px;
        }
    }
    .collection{
        h3::before{
            width: 250px;
        }
        h3:after{
            width: 250px;
        }
    }
    .photos{
        grid-template-columns: 250px 250px 250px;
        grid-gap:40px;
    }
    .catalog-item{
        width: 250px;
        height: 315px;
    }
    .image{
        width: 250px;
        height: 315px;
    }
    .footer{
        width: 950px;
    }
    .connected{
        h1{
            width:175px;
        }
    }
    .up{
        right: 380px;
        margin: -110px -110px;
    }
}
@media screen and (max-width: 767px) {
    body{
        width: 766px;
    }
    .wrapper{
        width: 766px;
        font-size: 10px;
    }
    .language{
        ul{
            width: 74px;
        }
    }
    .photo-fem{
        img{
            width: 766px;
            height: 425px;
        }
        width: 766px;
        height: 440px;
    }
    .social{
        width: 460px;
    }
    .logo{
        font-size: 50px;
        padding-left: 0;
    }
    .slider-menu{
        width: 750px;
        transform: scale(0.7);
        top: 0;
    }
    .bonus-collection{
        width: 750px;
        height: 100%;
    }
    .free-shipping{
        h3{
            font-size: 15px;
        }
        svg{
        display: none;        
        }
    }
    .return{
        h3{
            font-size: 15px;        
        }
        svg{
            display: none;        
        }
    }
    .support{
        h3{
            font-size: 15px;
        }
        svg{
            display: none;        
        }
    }
    .collection{
        h3::before{
            width: 150px;
        }
        h3:after{
            width: 150px;
        }
    }
    .photos{
        grid-template-columns: 300px 250px;
        grid-gap:40px;
    }
    .catalog-item{
        width: 250px;
        height: 315px;
    }
    .image{
        width: 250px;
        height: 315px;
    }
    .footer{
        h1{
            margin-bottom: 0;
        }
        div{
            margin: 0 35px;
        }
        width: 750px;
        display: grid;
        grid-template-columns:210px 210px 210px;
        grid-template-rows: 340px 340px 340px;
    }
    .connected{
        width: 185px;
    }
    .subs{
        left: 75px;
        bottom: 105px;
    }
    .connected{
        h1{
            width:175px;
        }
    }
    .up{
        right: 0;
        bottom: 0;
    }
}
@media screen and (max-width: 480px) {
    body{
        width: 460px;
    }
    .wrapper{
        width: 460px;
        font-size: 10px;
    }
    .header{
        justify-content: center;
    }
    .header-menu{
        display: none;
    }
    .language{
        ul{
            width: 74px;
        }
        right: -165px;
        top: 25px;
    }
    .photo-fem{
        img{
            width: 460px;
            height: 425px;
        }
        width: 460px;
        height: 440px;
        display: none;
    }
    .social{
        width: 350px;
        position: absolute;
        top: 20px;
        justify-content: center;
        right: 180px
    }
    .logo{
        font-size: 50px;
        padding-left: 0;
        position: relative;
        top: -45px;
    }
    .language{
        right: -165px;
    }
    .slider-menu{
        width: 460px;
        transform: scale(0.7);
        top: 0;
    }
    .bonus-collection{
        width: 460px;
        height: 100%;
        padding: 0 0;
    }
    .bonus{
        display: none;
    }
    .free-shipping{
        h3{
            font-size: 15px;
        }
        svg{
            width: 20px;
        }
    }
    .collection{
        h3::before{
            display: none;
        }
        h3:after{
           display: none;
        }
        width: 460px;
    }
    .photos{
        grid-template-columns: 250px;
        /* grid-gap: 40px; */
        width: 250px;
        margin: 35px auto;
    }
    .catalog-item{
        width: 250px;
        height: 315px;
    }
    .image{
        width: 250px;
        height: 315px;
    }
    .footer{
        h1{
            margin-bottom: 0;
        }
        div{
            margin: 0 35px;
        }
        width: 460px;
        height: 100%;
        display: grid;
        grid-template-columns:210px 210px;
    }
    .connected{
        width: 185px;
        left: -25px;
    }
    .subs{
        left: 0;
    }
    .connected{
        h1{
            width:175px;
        }
    }
    .up{
        bottom: 170px;
        left: 95px;
    }
}
@media screen and (max-width: 414px) {
    body{
        width: 395px;
    }
    .wrapper{
        width: 395px;
        font-size: 10px;
    }
    .top-menu{
        span{
            display: none;
        }
    }
    .header{
        justify-content: center;
    }
    .header-menu{
        display: none;
    }
    .language{
        ul{
            width: 74px;
        }
        right: -165px;
        top: 25px;
    }
    .photo-fem{
        img{
            width: 395px;
            height: 425px;
        }
        width:395px;
        height: 440px;
    }
    .social{
        .i1, .i2, .i3, .i4{
            display: none;
        }
        width: 395px;
        position: absolute;
        top: 20px;
        justify-content: center;
        right: 180px
    }
    .logo{
        font-size: 80px;
        padding-left: 0;
        top: 5px;
    }
    .language{
        right: 140px;
        top: -20px;
    }
    .slider-menu{
        width: 395px;
        transform: scale(0.7);
        top: 0;
    }
    .bonus-collection{
        width: 395px;
        height: 100%;
    }
    .bonus{
        display: none;
    }
    .free-shipping{
        h3{
            font-size: 15px;
        }
        svg{
            width: 20px;
        }
    }
    .collection{
        h3::before{
            display: none;
        }
        h3:after{
           display: none;
        }
        width: 395px;
    }
    .photos{
        grid-template-columns: 250px;
        /* grid-gap: 40px; */
        width: 250px;
        margin: 35px auto;
    }
    .catalog-item{
        width: 250px;
        height: 315px;
    }
    .image{
        width: 250px;
        height: 315px;
    }
    .footer{
        h1{
            margin-bottom: 0;
        }
        div{
            margin: 0 10px;
        }
        width: 395px;
        height: 100%;
        display: grid;
        grid-template-columns: 175px 175px;
    }
    .connected{
        width: 185px;
        left: -25px;
    }
    .subs{
        left: 0;
    }
    .connected{
        h1{
            width:175px;
        }
        top: 80px;
    }
    .up{
        left: 95px;
        top: -475px;
    }
}
@media screen and (max-width: 375px){
    body{
        width: 350px;
    }
    .wrapper{
        width: 350px;
        font-size: 8px;
    }
    .top-menu{
        span{
            display: none;
        }
    }
    .header{
        justify-content: center;
    }
    .header-menu{
        display: none;
    }
    .language{
        ul{
            width: 74px;
        }
        right: -165px;
        top: 25px;
        font-size: 10px;
    }
    .photo-fem{
        img{
            width: 350px;
            height: 425px;
        }
        width:350px;
        height: 440px;
    }
    .social{
        .i1, .i2, .i3, .i4{
            display: none;
        }
        width: 350px;
        position: absolute;
        top: 20px;
        justify-content: center;
        right: 180px
    }
    .logo{
        font-size: 100px;
        padding-left: 0;
        top: 5px;
    }
    .language{
        right: 100px;
        top: -20px;
    }
    .slider-menu{
        width: 350px;
        transform: scale(0.7);
        top: 0;
    }
    .bonus-collection{
        width: 350px;
        height: 100%;
    }
    .bonus{
        display: none;
    }
    .free-shipping{
        h3{
            font-size: 15px;
        }
        svg{
            width: 20px;
        }
    }
    .collection{
        h3::before{
            display: none;
        }
        h3:after{
           display: none;
        }
        width: 350px;
    }
    .photos{
        grid-template-columns: 250px;
        /* grid-gap: 40px; */
        width: 250px;
        margin: 35px auto;
    }
    .catalog-item{
        width: 250px;
        height: 315px;
    }
    .image{
        width: 250px;
        height: 315px;
    }
    .footer{
        h1{
            margin-bottom: 0;
        }
        div{
            margin: 0 10px;
        }
        width: 350px;
        height: 100%;
        display: grid;
        grid-template-columns: 175px 175px;
    }
    .connected{
        width: 185px;
        left: -25px;
    }
    .subs{
        left: 0;
    }
    .connected{
        h1{
            width:175px;
        }
        top: 80px;
    }
    .up{
        left: 95px;
        top: -475px;
    }
}