img{
    width: 300px;
    height: 100px;
    margin: 0 auto;
    position: relative;
}
h1{
    position: absolute;
    z-index: 1;
    font-size: 20px;
    top: 20px;
    display: inline;
}
a{
    text-decoration: none;
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}